<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en">
<!--<![endif]-->

<head>
  <base href="/" />
  <meta charset="utf-8">

  <title>
    <%= (locals.title) ? title + ' - ' : '' %>Cloud VDM System
  </title>

  <meta name="description" content="Cloud Vending Machine Management System">
  <meta name="author" content="">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

  <%- meta %>

  <!-- Icons -->
  <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.png">

  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-192x192.png" sizes="192x192">

  <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon-180x180.png">
  <!-- END Icons -->

  <!-- Stylesheets -->
  <!-- Web fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

  <!-- Bootstrap and OneUI CSS framework -->
  <link rel="stylesheet" href="/assets/js/plugins/sweetalert2/sweetalert2.min.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/js/plugins/select2/select2.min.css">
  <link rel="stylesheet" href="/assets/js/plugins/select2/select2-bootstrap.min.css">
  <link rel="stylesheet" href="/assets/js/plugins/datatables/jquery.dataTables.min.css">
  <link rel="stylesheet" id="css-main" href="/assets/css/oneui.css">
  <link rel="stylesheet" href="/assets/css/simple-line-icons.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <% /*
  <link rel="stylesheet" id="css-theme" href="/assets/css/themes/modern.min.css">
  */ %>
  <%- style %>
  <!-- END Stylesheets -->

</head>

<body>

  <!-- Page Container -->
  <!--
        Available Classes:

        'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

        'sidebar-l'                  Left Sidebar and right Side Overlay
        'sidebar-r'                  Right Sidebar and left Side Overlay
        'sidebar-mini'               Mini hoverable Sidebar (> 991px)
        'sidebar-o'                  Visible Sidebar by default (> 991px)
        'sidebar-o-xs'               Visible Sidebar by default (< 992px)

        'side-overlay-hover'         Hoverable Side Overlay (> 991px)
        'side-overlay-o'             Visible Side Overlay by default (> 991px)

        'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

        'header-navbar-fixed'        Enables fixed header
    -->
  <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

    <%- include('partials/rightSidebar'); %>

    <%- include('partials/sidebar'); %>

    <%- include('partials/header'); %>

    <%- body %>

    <%- include('partials/footer'); %>
  </div>
  <!-- END Page Container -->

  <%- include('partials/floatMenu'); %>

  <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/core/jquery.slimscroll.min.js"></script>
  <script src="/assets/js/core/jquery.scrollLock.min.js"></script>
  <script src="/assets/js/core/jquery.appear.min.js"></script>
  <script src="/assets/js/core/jquery.countTo.min.js"></script>
  <script src="/assets/js/core/jquery.placeholder.min.js"></script>
  <script src="/assets/js/core/js.cookie.min.js"></script>
  <script src="/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
  <script src="/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/assets/js/moment.min.js"></script>
  <script src="/assets/js/datatables-moment.js"></script>
  <script src="/assets/js/app.js"></script>

  <script>
    jQuery('[data-toggle="countTo"]').each(function () {
      var $this = jQuery(this);
      var $after = $this.data('after');
      var $before = $this.data('before');

      $this.appear(function () {
        $this.countTo({
          speed: $this.data('speed') || 1500,
          refreshInterval: $this.data('interval') || 15,
          onComplete: function () {
            var text = $this.html();
            if ($after) {
              text = text + $after;
            }
            if ($before) {
              text = $before + text;
            }
            $this.html(text);
          }
        });
      });
    });
  </script>

  <% if (typeof messagePopup !== 'undefined' && messagePopup) { %>
  <script>
    jQuery(function () {
      swal({
        title: <%- JSON.stringify(messagePopup.title) %>,
        html: <%- JSON.stringify(messagePopup.message || '') %>,
        type: '<%- messagePopup.type || 'success' %>'
      });
    });
  </script>
  <% } %>
  <%- script %>
</body>

</html>