<script src="/assets/js/datatables.js"></script>
<script>
  $(function () {
    jQuery('.vending-table').dataTable({
      pagingType: "full_numbers",
      columnDefs: [{ orderable: false, targets: [8] }],
      pageLength: 10,
      lengthMenu: [[5, 10, 15, 20], [5, 10, 15, 20]]
    });
  });
</script>

<main id="main-container">

  <!-- Page Header -->
  <div class="content bg-gray-lighter">
    <div class="row items-push">
      <div class="col-sm-7">
        <h1 class="page-heading">
          Machine list
        </h1>
      </div>
      <div class="col-sm-5 text-right hidden-xs">
        <ol class="breadcrumb push-10-t">
          <li>Cloud VDMS</li>
          <li>Vending Machine</li>
          <li><a
              class="link-effect"
              href=""
            >Machine list</a></li>
        </ol>
      </div>
    </div>
  </div>
  <!-- END Page Header -->

  <!-- Page Content -->
  <div class="content content-boxed">
    <div class="block block-themed">
      <div class="block-header bg-primary-dark">
        <h3 class="block-title">Vending Machines list</h3>
      </div>
      <div class="block-content">
        <% if (lastError.length > 0) { %>
        <div class="alert alert-danger alert-dismissable">
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-hidden="true"
          >&times;</button>
          <h3 class="font-w300 push-15">Error</h3>
          <p>
            <ul>
              <% lastError.map(error => { %>
              <li>
                <%= error %>
              </li>
              <% }) %>
            </ul>
          </p>
        </div>
        <% } %>
        <table class="table table-bordered table-striped table-vcenter vending-table">
          <thead>
            <tr>
              <% /*<th class="text-center" style="width: 40px">
                <label class="css-input css-checkbox css-checkbox-default">
                  <input type="checkbox"><span></span>
                </label>
              </th>*/ %>
              <th>Name</th>
              <th>Location</th>
              <th>Serial</th>
              <th>IP Address</th>
              <th class="text-center">Alert</th>
              <th class="text-center no-wrap">Sys. Usage</th>
              <th class="text-center">Network</th>
              <th class="text-center">Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% vmData.rows.map(row => { %>
            <tr>
              
              <td>
                <a href="/app/dashboard/<%= row.machineId %>">
                <%= 
                 row.name 
                 %>
                </a>
              </td>
              
              <td>
                <%= row.location %>
              </td>
              <td>
                <%= row.serial %>
              </td>
              <td>
                <%= row.ipAddress %>
              </td>
              <td class="text-center"><i class="<%= row.isAlert ? 'text-danger icon-fire' : 'text-success icon-check' %>"></i></td>
              <td class="text-center no-wrap">
                CPU:
                <%= typeof row.cpuPercent === 'number' ? `${row.cpuPercent}%` : 'N/A' %><br />
                RAM:
                <%= typeof row.memPercent === 'number' ? `${row.memPercent}%` : 'N/A' %>
              </td>
              <td class="text-center">
                <span class="<%= row.networkSignal ? (row.networkSignal == 'BAD' ? 'text-danger' : 'text-success') : 'text-muted' %>"><i
                    class="fa fa-signal"></i>
                  <%= row.networkSignal || 'N/A' %></span>
              </td>
              <td class="text-center">
                <%= row.status %>
              </td>
              <td class="text-center">
                <div class="btn-group">
                  
                    <a
                    class="btn btn-xs btn-default"
                    href="/app/Product/list/<%= row.machineId %>"
                    data-toggle="tooltip"
                    title="Edit Product List"
                  ><i class="fa fa-pencil"></i></a>
                  <a
                    class="btn btn-xs btn-default"
                    href="/app/vending/edit/<%= row.machineId %>"
                    data-toggle="tooltip"
                    title="Edit"
                  ><i class="fa fa-pencil"></i></a>
                  <a
                    class="btn btn-xs btn-danger"
                    href="/app/vending/delete/<%= row.machineId %>"
                    data-toggle="tooltip"
                    title="Remove"
                  ><i class="fa fa-times"></i></a>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>