<script src="/assets/js/datatables.js"></script>
<script>
  $(function () {
    jQuery('.vending-table').dataTable({
      pagingType: "full_numbers",
      columnDefs: [{ orderable: false, targets: [5] }],
      pageLength: 10,
      lengthMenu: [[5, 10, 15, 20], [5, 10, 15, 20]]
    });
  });
</script>

<main id="main-container">

  <!-- Page Header -->
  <div class="content bg-gray-lighter">
    <div class="row items-push">
      <div class="col-sm-7">
        <h1 class="page-heading">
          User list
        </h1>
      </div>
      <div class="col-sm-5 text-right hidden-xs">
        <ol class="breadcrumb push-10-t">
          <li>Cloud VDMS</li>
          <li>Administration</li>
          <li><a class="link-effect" href="">User list</a></li>
        </ol>
      </div>
    </div>
  </div>
  <!-- END Page Header -->

  <!-- Page Content -->
  <div class="content content-boxed">
    <div class="block block-themed">
      <div class="block-header bg-primary-dark">
        <div class="block-options-simple">
          <a class="btn btn-xs btn-primary" href="/app/administration/user" data-toggle="tooltip" title=""
            data-original-title="Refresh"><i class="fa fa-refresh"></i></a>
          <a class="btn btn-xs btn-success" href="/app/administration/user/add" data-toggle="tooltip" title=""
            data-original-title="Add"><i class="fa fa-plus"></i></a>
        </div>
        <h3 class="block-title">Users</h3>
      </div>
      <div class="block-content">
        <% if (lastError.length > 0) { %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h3 class="font-w300 push-15">Error</h3>
          <p>
            <ul>
              <% lastError.map(error => { %>
              <li>
                <%= error %>
              </li>
              <% }) %>
            </ul>
          </p>
        </div>
        <% } %>
        <table class="table table-bordered table-striped table-vcenter vending-table">
          <thead>
            <tr>
              <% /*<th class="text-center" style="width: 40px">
                <label class="css-input css-checkbox css-checkbox-default">
                  <input type="checkbox"><span></span>
                </label>
              </th>*/ %>
              <th>Username</th>
              <th>Name</th>
              <th>Role</th>
              <th>Phone No.</th>
              <th>Last login</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% userData.rows.map(row => { %>
            <tr>
              <td>
                <%= row.userId %>
              </td>
              <td>
                <%= row.fullName %>
              </td>
              <td>
                <%= row.role %>
              </td>
              <td>
                <%= row.phone %>
              </td>
              <td>
                <%= row.lastLogin %>
              </td>
              <td class="text-center">
                <div class="btn-group">
                  <a class="btn btn-xs btn-default" href="/app/administration/user/edit/<%= row.userId %>" data-toggle="tooltip"
                    title="Edit"><i class="fa fa-pencil"></i></a>
                  <a class="btn btn-xs btn-danger" href="/app/administration/user/delete/<%= row.userId %>" data-toggle="tooltip"
                    title="Remove" <%=(row.userId==user.userId) && 'disabled' %>
                    ><i class="fa fa-times"></i></a>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>